/vendor
/.idea
/.vscode
/.vagrant
*~
/database/database.sqlite
/storage
composer.lock
.buildpath*
/doc/latex
/doc/html
/doc/coverage
/.phpunit*
composer-dev.lock
DEADJOE
.settings/
.project
/tests/tmp
